
.payment-link-standard {
	color:#68BAE9;
	cursor:pointer;
	display:inline;
}

.payment-link-standard:hover {
	text-decoration:underline;
}

.payment-link-premium {
	color:#68BAE9;
	cursor:pointer;
	display:inline;
}

.payment-link-premium:hover {
	text-decoration:underline;
}

.payment-link-leading {
	color:#68BAE9;
	cursor:pointer;
	display:inline;
}

.payment-link-leading:hover {
	text-decoration:underline;
}

.payment-link-banner {
	color:#68BAE9;
	cursor:pointer;
	display:inline;
}

.payment-link-banner:hover {
	text-decoration:underline;
}
